@import "./scss/colors.scss";

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  img {
    height: 130px;
    width: 130px;
  }
}

.header {
  display: block;
  height: 80px;
}

@media (max-height: 800px) {
  .body {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .header {
    height: 20px;
  }
}
