@import "../../../scss/variables.scss";
@import "../../../scss/animations.scss";

@media (min-width: 270px) {
  h1 {
    font-weight: 800;
    font-size: 1.3rem;
  }

  .motivation-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: $section-height-mobile;

    border-radius: 30px;

    background-color: $section-background-color;

    .motivation-section__content {
      height: 100%;
      overflow: auto;
    }

    .scrollable-box {
      position: relative;
      padding: 10px;
      font-style: italic;
      height: 100%;
      font-size: 1rem;
      font-weight: 100;
      z-index: 1;
      display: flex;

      p {
        width: 100%;
      }

      .shadow {
        position: absolute;
        top: 85%;
        left: 0;
        width: 99%;
        height: rem-calc(42);
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 1)
        );
        pointer-events: none;
      }
    }

    // arrow down
    .shadow::after {
      position: absolute;
      content: "↓";
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      bottom: px;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      animation: arrowDown 1s alternate infinite;
    }
  }

  .text-container {
    width: 100%;

    margin-top: 15px;
    text-align: center;
  }

  .image-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .motivation-img {
      // 100% de 40% do parent
      height: 100%;
      width: 100%;
      animation: floatImageY 3s ease-in-out infinite;
    }
  }
}

@media (min-width: 375px) {
  .motivation-section__content {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .text-container {
    width: 90%;
    p {
      // mexi aq
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  .motivation-section {
    height: $section-height;
  }

  .text-container {
    h1 {
      font-size: 2.5rem;
    }
    p {
      margin-top: 20px;
      font-size: 1.5rem;
    }
  }
  .image-container {
    // height: 100%;
    margin: 0;
  }
}

@media (min-width: 992px) {
  .text-container {
    width: 50%;
  }
  .motivation-section {
    width: 90vw;
  }
  .image-container {
    width: 30%;
  }
}
